.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 36px;
  border: 1px solid #000000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  cursor: pointer; }
  .btn--primary {
    background-color: #000000;
    color: #fff; }
    .btn--primary:hover {
      border-color: #333;
      background-color: #333;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .btn--secondary {
    background-color: transparent; }
    .btn--secondary:hover {
      border-color: #333;
      color: #333;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .btn--text {
    position: relative;
    padding: 0px 36px;
    background-color: transparent;
    border: none; }
    .btn--text::after {
      right: 20px;
      content: ">";
      -webkit-transition: right 0.3s;
      -o-transition: right 0.3s;
      transition: right 0.3s;
      position: absolute; }
    .btn--text:hover::after {
      right: -5px; }

.heading {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal; }
  .heading--1 {
    font-size: 119px;
    line-height: 132px;
    font-weight: bold;
    margin-bottom: 90px;
    letter-spacing: -1.785px; }
  .heading--2 {
    font-size: 61px;
    line-height: 72px;
    margin-bottom: 56px;
    letter-spacing: -0.915px; }
  .heading--3 {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 32px;
    letter-spacing: -0.465px; }
  .heading--4 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 28px;
    letter-spacing: -0.375px; }
  .heading--5 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
    letter-spacing: -0.3px; }
  .heading--6 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px; }

.body-copy {
  padding: 50px 0; }
  .body-copy__typo {
    max-width: 80%;
    margin: 0 auto; }
