.body-copy {
  padding: 3% 0;

  &__typo {
    max-width: 80%;
    margin: 0 auto;

    &--headline {
      padding: 0px;
      margin: 0px;
    }

    &--paragraph {
      margin: 0px;
    }

    &--action {
      color: black;
      padding: 0px;
      margin: 0px;

      & p {
        margin: 0px;
      }
    }
  }
}
